In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [2]:
import wrangle_zillow as w

## Acquire/Summarize

In [3]:
# 1. Acquire the zillow data
df = w.acquire_zillow()

Using cached csv

In [4]:
# 2. Summarize the data
df.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,6.059063e+13,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,6.111001e+13,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,6.059022e+13,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,6.037300e+13,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,1970746,10887214,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6.037124e+13,0.006940,2017-01-01,Central,NaN,NaN,Central,Condominium,NaN,NaN

In [5]:
df.shape

(77380, 68)

In [6]:
df.describe()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,logerror
count,7.738000e+04,7.738000e+04,24953.000000,206.000000,50.000000,77380.000000,77380.000000,15.000000,49671.000000,76771.000000,...,17560.000000,172.0,7.726800e+04,7.737900e+04,77380.0,7.737800e+04,77375.000000,2886.000000,7.713600e+04,77380.000000
mean,1.495126e+06,1.300715e+07,1.813289,7.388350,679.720000,2.299134,3.053489,3.933333,6.534638,2.316871,...,1.434738,1.0,1.893160e+05,4.901375e+05,2016.0,3.010969e+05,5995.566592,14.087318,6.049674e+13,0.016628
std,8.609057e+05,3.481368e+06,2.967894,2.734542,689.703546,0.996657,1.139103,0.258199,1.721933,0.979761,...,0.544569,0.0,2.300886e+05,6.534477e+05,0.0,4.925990e+05,7622.887460,2.185663,1.535252e+12,0.170190
min,3.490000e+02,1.071186e+07,1.000000,2.000000,38.000000,0.000000,0.000000,3.000000,1.000000,1.000000,...,1.000000,1.0,4.400000e+01,1.000000e+03,2016.0,1.610000e+02,19.920000,3.000000,6.037101e+13,-4.655420
25%,7.520500e+05,1.153830e+07,1.000000,7.000000,273.000000,2.000000,2.000000,4.000000,6.000000,2.000000,...,1.000000,1.0,8.426500e+04,2.070000e+05,2016.0,8.550400e+04,2715.585000,14.000000,6.037311e+13,-0.024377
50%,1.497870e+06,1.253155e+07,1.000000,7.000000,515.000000,2.000000,3.000000,4.000000,6.000000,2.000000,...,1.000000,1.0,1.364995e+05,3.589760e+05,2016.0,2.033835e+05,4450.720000,15.000000,6.037603e+13,0.006627
75%,2.240480e+06,1.421184e+07,1.000000,7.000000,796.500000,3.000000,4.000000,4.000000,8.000000,3.000000,...,2.000000,1.0,2.187875e+05,5.690030e+05,2016.0,3.668022e+05,6927.800000,15.000000,6.059042e+13,0.039204
max,2.982274e+06,1.676893e+08,13.000000,21.000000,3560.000000,18.000000,16.000000,4.000000,12.000000,18.000000,...,6.000000,1.0,1.142179e+07,4.906124e+07,2016.0,4.895220e+07,586639.300000,99.000000,4.830301e+14,5.262999

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77380 entries, 0 to 77379
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77380 non-null  int64
 1   parcelid                      77380 non-null  int64
 2   airconditioningtypeid         24953 non-null  float64
 3   architecturalstyletypeid      206 non-null    float64
 4   basementsqft                  50 non-null     float64
 5   bathroomcnt                   77380 non-null  float64
 6   bedroomcnt                    77380 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingqualitytypeid         49671 non-null  float64
 9   calculatedbathnbr             76771 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  finishedfloor1squarefeet      6023 non-null   float64
 12  calculatedfinishedsquarefeet  77184 non-null  float64
 13  finishedsquarefeet12          73748 non-null  float64
 14  finishedsquarefeet13          41 non-null     float64
 15  finishedsquarefeet15          3009 non-null   float64
 16  finishedsquarefeet50          6023 non-null   float64
 17  finishedsquarefeet6           386 non-null    float64
 18  fips                          77380 non-null  float64
 19  fireplacecnt                  8276 non-null   float64
 20  fullbathcnt                   76771 non-null  float64
 21  garagecarcnt                  25474 non-null  float64
 22  garagetotalsqft               25474 non-null  float64
 23  hashottuborspa                1538 non-null   float64
 24  heatingorsystemtypeid         49439 non-null  float64
 25  latitude                      77380 non-null  float64
 26  longitude                     77380 non-null  float64
 27  lotsizesquarefeet             69141 non-null  float64
 28  poolcnt                       16137 non-null  float64
 29  poolsizesum                   867 non-null    float64
 30  pooltypeid10                  464 non-null    float64
 31  pooltypeid2                   1074 non-null   float64
 32  pooltypeid7                   15042 non-null  float64
 33  propertycountylandusecode     77380 non-null  object
 34  propertylandusetypeid         77380 non-null  float64
 35  propertyzoningdesc            50330 non-null  object
 36  rawcensustractandblock        77380 non-null  float64
 37  regionidcity                  75909 non-null  float64
 38  regionidcounty                77380 non-null  float64
 39  regionidneighborhood          30890 non-null  float64
 40  regionidzip                   77330 non-null  float64
 41  roomcnt                       77380 non-null  float64
 42  storytypeid                   50 non-null     float64
 43  threequarterbathnbr           10096 non-null  float64
 44  typeconstructiontypeid        222 non-null    float64
 45  unitcnt                       50562 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77117 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77268 non-null  float64
 52  taxvaluedollarcnt             77379 non-null  float64
 53  assessmentyear                77380 non-null  float64
 54  landtaxvaluedollarcnt         77378 non-null  float64
 55  taxamount                     77375 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77136 non-null  float64
 59  logerror                      77380 non-null  float64
 60  transactiondate               77380 non-null  object
 61  airconditioningdesc           24953 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49439 non-null  object
 65  propertylandusedesc           77380 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.1+ MB

3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [8]:
def nulls_col(df):
    nulls = pd.DataFrame({
        'count_nulls': df.isna().sum(),
        'pct_rows_null': df.isna().mean()
    })
    return nulls

In [9]:
col_nulls = nulls_col(df)

In [10]:
col_nulls.sort_values(by='pct_rows_null', ascending=False)

                       count_nulls  pct_rows_null
buildingclassdesc            77365       0.999806
buildingclasstypeid          77365       0.999806
finishedsquarefeet13         77339       0.999470
storytypeid                  77330       0.999354
basementsqft                 77330       0.999354
...                            ...            ...
latitude                         0       0.000000
fips                             0       0.000000
bedroomcnt                       0       0.000000
bathroomcnt                      0       0.000000
propertylandusetypeid            0       0.000000

[68 rows x 2 columns]

In [11]:
pd.options.display.max_rows = 100

4. Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [12]:
def cols_missing(df):
    df2 = pd.DataFrame(df.isnull().sum(axis=1), columns = ['num_cols_missing']).reset_index()\
    .groupby('num_cols_missing').count().reset_index().\
    rename(columns = {'index': 'num_rows'})
    df2['pct_cols_missing'] = df2.num_cols_missing/df.shape[1]
    return df2

In [13]:
def cols_missing2(df):
    df2 = pd.concat([
    df.isna().sum(axis=1).rename('n_missing'),
    df.isna().mean(axis=1).rename('percent_missing'),
], axis=1).value_counts().sort_index()
    return df2

In [14]:
cols_missing(df)

    num_cols_missing  num_rows  pct_cols_missing
0                 23         2          0.338235
1                 24        13          0.352941
2                 25        24          0.367647
3                 26        65          0.382353
4                 27       316          0.397059
5                 28       455          0.411765
6                 29      5270          0.426471
7                 30      3455          0.441176
8                 31      9891          0.455882
9                 32     12579          0.470588
10                33     14782          0.485294
11                34     13326          0.500000
12                35      5148          0.514706
13                36      5775          0.529412
14                37      3620          0.544118
15                38      1925          0.558824
16                39       285          0.573529
17                40       230          0.588235
18                41        29          0.602941
19                42        23          0.617647
20                43        28          0.632353
21                44        78          0.647059
22                45        50          0.661765
23                46         5          0.676471
24                47         3          0.691176
25                48         3          0.705882

Takeaways:
1. Many of the categorical columns (ex: pool type) with 99% missing data could be converted to binary 1 or 0 under assumption that the lack of data is a lack of having add-on feature. 
1. The data is an aggregation of sorts and some of the features may have only been collected from a certain region (fip). Need to account for this when dropping rows/columns due to nulls to ensure that we are not just excluding entire regions bc of a single column.
1. The columns that have 50-75% of their data missing should probably just be dropped. It would be difficult to impute things like garagecarecnt without making broad assumptions or needing much more intense analysis of data.

## Prepare

1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer.

In [15]:
# Identifying which landusetypeid are not single units
not_single = [246, 248, 247, 267, 31]

In [16]:
df = df[~df.propertylandusetypeid.isin(not_single)]

In [17]:
df.shape

(74065, 68)

2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row)

In [18]:
# Given a df, and % proportion needed to not be null or columns and rows will be dropped
# returns df
def handle_missing_values(df, prop_required_column, prop_required_row):
    n_required_column = round(df.shape[0] * prop_required_column)
    n_required_row = round(df.shape[1] * prop_required_row)
    df = df.dropna(axis=0, thresh=n_required_row)
    df = df.dropna(axis=1, thresh=n_required_column)
    return df

In [19]:
# Above will be used after certain columns are imputed to ensure they are under the threshold for dropping

In [21]:
col_nulls = w.nulls_by_col(df)

In [22]:
col_nulls.sort_values(by='pct_rows_null', ascending=False).head(10)

                      count_nulls  pct_rows_null
buildingclasstypeid         74065       1.000000
buildingclassdesc           74065       1.000000
finishedsquarefeet15        74054       0.999851
finishedsquarefeet13        74024       0.999446
storytypeid                 74015       0.999325
basementsqft                74015       0.999325
storydesc                   74015       0.999325
yardbuildingsqft26          73995       0.999055
finishedsquarefeet6         73898       0.997745
fireplaceflag               73893       0.997678

In [23]:
poss_imputes = col_nulls.index[col_nulls.pct_rows_null > .49]

In [24]:
for col in poss_imputes:
    print(col)
    print(df2[col].value_counts(dropna=False))
    print('----------')

airconditioningtypeid

NameError: name 'df2' is not defined

1. fireplacecnt - all NaN can be 0, not encoded
3. hashottuborspa - all NaN can be 0, encode
4. poolcnt - all NaN can be 0, encode
5. threequarterbathnbr - NaN can be 0, not encoded
6. taxdelinquiencyflag - NaN can be No, can change to 1/0 encoded

The other columns are not worth 'saving' due to redundant information, inability/unnecessary to impute, or too many unexplained nulls

In [25]:
df.shape

(74065, 68)

In [26]:
# Changing our columns where the NaN can be replaced with 0
cols = ['fireplacecnt', 'hashottuborspa', 'poolcnt', 'threequarterbathnbr', 'taxdelinquencyflag']

for col in cols:
    df[col] = df[col].fillna(value=0)

for col in cols:
    print(df[col].value_counts(dropna=False))

0.0    65804
1.0     6996
2.0      994
3.0      233
4.0       35
5.0        3
Name: fireplacecnt, dtype: int64
0.0    72528
1.0     1537
Name: hashottuborspa, dtype: int64
0.0    57973
1.0    16092
Name: poolcnt, dtype: int64
0.0    63972
1.0    10009
2.0       75
3.0        8
7.0        1
Name: threequarterbathnbr, dtype: int64
0    71417
Y     2648
Name: taxdelinquencyflag, dtype: int64

In [27]:
# Dropping the columns and rows that do not meet 50% threshold
df = handle_missing_values(df, .5, .5)

In [28]:
df.shape

(73668, 39)

In [31]:
# Columns that are not useful, cause leakage, etc..
# Rows to drop bc they are not useful, redundant, or cause leakage
to_drop = ['id', 'parcelid', 'calculatedbathnbr', 'finishedsquarefeet12', 'lotsizesquarefeet', 'propertycountylandusecode',
          'propertylandusetypeid', 'propertyzoningdesc', 'rawcensustractandblock', 'structuretaxvaluedollarcnt', 'taxvaluedollarcnt',
          'assessmentyear', 'landtaxvaluedollarcnt', 'taxamount', 'censustractandblock', 'transactiondate', 'heatingorsystemdesc', 
          'propertylandusedesc', 'buildingqualitytypeid']

df = df.drop(columns=to_drop)

KeyError: "['id' 'parcelid' 'calculatedbathnbr' 'finishedsquarefeet12'\n 'lotsizesquarefeet' 'propertycountylandusecode' 'propertylandusetypeid'\n 'propertyzoningdesc' 'rawcensustractandblock'\n 'structuretaxvaluedollarcnt' 'taxvaluedollarcnt' 'assessmentyear'\n 'landtaxvaluedollarcnt' 'taxamount' 'censustractandblock'\n 'transactiondate' 'heatingorsystemdesc' 'propertylandusedesc'] not found in axis"

In [30]:
df.shape

(73668, 21)